/Source/Controls/bin
/Source/Controls/obj
/Source/CoreAudio/bin
/Source/CoreAudio/obj
/Source/Encryption Tool/obj
/Source/Encryption Tool/bin
/Source/Geometry/obj
/Source/Geometry/bin
/Source/MSGraph/obj
/Source/MSGraph/bin
/Source/Net/obj
/Source/Net/bin
/Source/Signals/obj
/Source/Signals/bin
/Source/Utilities/obj
/Source/Utilities/bin
/Source/VolumeManager/obj
/Source/VolumeManager/bin
/Source/ZedGraph/bin
/Source/ZedGraph/obj
